<template>
  <div class="grid grid-cols-3 gap-10 min-h-screen bg-gray-100 px-32">
    <div class="max-w-lg flex flex-col mt-10">
      <div class="p-5 bg-white rounded-lg my-5 flex flex-col">
        <span class="font-extrabold text-green-600 text-2xl md:text-5xl 2xl:text-7xl text-center">
          {{ text_timer }}
        </span>
        <h2 class="text-2xl font-bold text-center">
          Ещё не получены данные с {{ not_reported_uiks.length }} УИКов
        </h2>
      </div>
      <div class="p-5 bg-white rounded-lg my-5">
        <h2 class="text-2xl font-bold">
          Ещё не доложили:
        </h2>
        <ul class="list-disc list-inside mt-5 max-h-96 overflow-auto" role="list">
          <li v-for="u in not_reported_uiks">
            <NuxtLink :to="'/uiks/' + u.uik">
              <span class="font-bold text-red-500 underline">УИК {{ u.uik }}</span>
            </NuxtLink>
          </li>
        </ul>
      </div>
    </div>
    <div class="max-w-lg flex flex-col mt-10">
      <div class="p-5 bg-white rounded-lg my-5">
        <h2 class="text-2xl font-bold">
          Навигация
        </h2>
        <ul class="list-disc list-inside mt-5 max-h-96 overflow-auto" role="list">
          <li>
            <NuxtLink to="/users">
              <span class="font-bold text-red-500 underline">Взаимодействие с наблюдателями</span>
            </NuxtLink>
          </li>
          <li>
            <NuxtLink to="/users/unverified">
              <span class="font-bold text-red-500 underline">Заапрувить наблюдателей</span>
            </NuxtLink>
          </li>
          <li>
            <NuxtLink to="/uiks">
              <span class="font-bold text-red-500 underline">УИКи</span>
            </NuxtLink>
          </li>
          <li>
            <NuxtLink to="/uiks/yavka">
              <span class="font-bold text-red-500 underline">УИКи по явке</span>
            </NuxtLink>
          </li>
        </ul>
      </div>

    </div>
    <div class="max-w-lg flex flex-col mt-10">
      <div class="p-5 bg-white rounded-lg my-5">
        <div class="flex flex-col">
          <span class="font-extrabold text-green-600 text-7xl text-center">{{ yavka.counter }}</span>
          <hr class="my-3"/>
          <span class="font-extrabold text-red-600 text-7xl text-center">{{ yavka.official }}</span>
        </div>
      </div>
      <div class="p-5 bg-white rounded-lg my-5">
        <h2 class="text-2xl font-bold">
          Нарушения на УИКах:
        </h2>
        <ul class="list-disc list-inside mt-5" role="list">
          <li v-for="v in violations">
            <NuxtLink :to="'/uiks/'+v.uik">
              <span class="font-bold text-red-500 underline">УИК {{ v.uik }}</span> в {{ unix_to_string(v.time) }}
            </NuxtLink>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'index',
  data() {
    return {
      timastamps: [],
      text_timer: '',
      yavka: {
        counter: 0,
        official: 0
      },
      not_reported_uiks: [],
      violations: []
    }
  },
  methods: {
    unix_to_string(ts) {
      let date = new Date(ts * 1000);
      let hours = "0" + date.getHours();
      let minutes = "0" + date.getMinutes();
      let seconds = "0" + date.getSeconds();
      let formattedTime = hours.substr(-2) + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
      return formattedTime
    },
  },
  mounted() {
    // Получаем фазы
    this.$axios.get('/api/timestamps').then((response) => {
      if (response.status === 200){
        this.timestamps = response.data
        function convertTime(sec) {
          let hours = Math.floor(sec/3600);
          (hours >= 1) ? sec = sec - (hours*3600) : hours = '00';
          let min = Math.floor(sec/60);
          (min >= 1) ? sec = sec - (min*60) : min = '00';
          (sec < 1) ? sec='00' : void 0;

          (min.toString().length == 1) ? min = '0'+min : void 0;
          (sec.toString().length == 1) ? sec = '0'+sec : void 0;

          return hours+':'+min+':'+sec;
        }
        setInterval(() => {
          let now_sec = Math.floor(Date.now() / 1000)
          let now_timephase = this.timestamps.filter(function (phase){return phase.start <= now_sec && phase.finish > now_sec})
          let timer = now_timephase[0].finish - now_sec
          this.text_timer = convertTime(timer)
        }, 1000)
      }
    })

    // Получение явки
    this.$axios.get('/api/yavka').then((response) => {
      if(response.status === 200){
        this.yavka.counter = response.data.counter_voters
        this.yavka.official = response.data.uik_voters
      }
    })
    setInterval(()=>{
      this.$axios.get('/api/yavka').then((response) => {
        if(response.status === 200){
          this.yavka.counter = response.data.counter_voters
          this.yavka.official = response.data.uik_voters
        }
      })
    }, 10000)

    // Не отправили данные
    this.$axios.get('/api/uiks/not_reported').then((response) => {
      if(response.status === 200){
        this.not_reported_uiks = response.data
      }
    })
    setInterval(()=>{
      this.$axios.get('/api/uiks/not_reported').then((response) => {
        if(response.status === 200){
          this.not_reported_uiks = response.data
        }
      })
    }, 10000)

    // Нарушения на УИКах
    this.$axios.get('/api/violations').then((response) => {
      if(response.status === 200){
        this.violations = response.data.reverse()
      }
    })
    setInterval(()=>{
      this.$axios.get('/api/violations').then((response) => {
        if(response.status === 200){
          this.violations = response.data.reverse()
        }
      })
    }, 10000)
  }
}
</script>
