<template>
  <div class="flex flex-col min-h-screen bg-gray-100 px-48 pt-20">
    <div class="flex flex-col lg:w-7/12 w-full bg-white rounded-lg p-5 mx-auto my-5">
      <h2 class="font-extrabold text-2xl">
        Отправить всем
      </h2>
      <form @submit.prevent="send_message(0)" class="flex flex-col">
        <textarea :id="'msgtxt_0'" class="w-full my-5 border-2 border-green-500"></textarea>
        <button class="bg-green-600 text-white font-bold p-2 rounded-lg">Отправить</button>
      </form>
    </div>
    <div class="flex flex-col lg:w-7/12 w-full bg-white rounded-lg p-5 mx-auto my-5" v-for="u in users">
      <h2 class="font-extrabold text-2xl">
        {{ u.name }} | Tg @{{ u.username }} #{{ u.user_id }} УИК №{{ u.uik }}
      </h2>
      <form @submit.prevent="send_message(u.user_id)" class="flex flex-col">
        <textarea :id="'msgtxt_'+u.user_id" class="w-full my-5 border-2 border-green-500"></textarea>
        <button class="bg-green-600 text-white font-bold p-2 rounded-lg">Отправить</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "users",
  data() {
    return {
      users: []
    }
  },
  methods: {
    reload_users: function () {
      this.$axios.get('/api/observers').then((response) => {
        if (response.status === 200){
          this.users = response.data
        }
      })
    },
    send_message: function (user_id) {
      this.$axios.post('/api/send_tg_message', {
        user_id: user_id,
        message: document.getElementById('msgtxt_'+user_id).value
      }).then((response) => {
        document.getElementById('msgtxt_'+user_id).value = ''
        console.log(response)
      })
    }
  },
  mounted() {
    this.reload_users()
  }
}
</script>

<style scoped>

</style>
