<template>
  <div class="flex flex-col min-h-screen bg-gray-100 px-48 pt-20">
    <div class="flex flex-col lg:w-7/12 w-full bg-white rounded-lg p-5 mx-auto my-5" v-for="u in users">
      <h2 class="font-extrabold text-2xl">
        Tg @{{ u.username }} #{{ u.user_id }}
      </h2>
      <form class="mt-5" @submit.prevent="verify_user(u.user_id)">
        <div class="flex flex-col my-5">
          <span class="font-bold">
            Номер УИКа
          </span>
          <input class="border-solid border-b border-black w-20" type="number" :id="u.user_id + '_uik'">
        </div>
        <div class="flex flex-col my-5">
          <span class="font-bold">
            Как величать
          </span>
          <input class="border-solid border-b border-black w-6/12" type="text" :id="u.user_id + '_name'">
        </div>
        <div class="flex flex-col my-5">
          <button class="bg-green-600 text-white font-bold p-2 rounded-lg">Подтвердить</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "unverified",
  data() {
    return {
      users: []
    }
  },
  methods: {
    verify_user: function (user_id) {
      let uik = document.getElementById(user_id + "_uik").value
      let name = document.getElementById(user_id + "_name").value
      this.$axios.post('/api/verify_observer', {
        uik: uik,
        name: name,
        user_id: user_id,
        verified: true,
        hide: false
      }).then((response) => {
        this.reload_users()
      })
    },
    reload_users: function () {
      this.$axios.get('/api/observers/to_verify').then((response) => {
        this.users = response.data
      })
    }
  },
  mounted() {
    this.reload_users()
  }
}
</script>

<style scoped>

</style>
