<template>
  <div class="flex flex-col min-h-screen bg-gray-100 px-48 pt-20">
    <div class="flex flex-col lg:w-7/12 w-full bg-white rounded-lg p-5 mx-auto my-5">
      <h1 class="font-extrabold text-5xl">
        УИК №{{ uik }}
      </h1>

    </div>
    <div class="flex flex-col lg:w-7/12 w-full bg-white rounded-lg p-5 mx-auto my-5" v-for="v in violations">
      <h2 class="font-extrabold text-2xl">
        Нарушение в {{ unix_to_string(v.time) }}
      </h2>
      <div v-for="m in v.report_list" class="my-2.5">
        <p v-if="m.text">{{ m.text }}</p>
        <a v-if="m.filename" target="_blank" :href="'/api/media/'+m.filename" class="text-red-500">{{m.filename}}</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "_uik",
  data() {
    return {
      uik: null,
      violations: []
    }
  },
  methods: {
    unix_to_string(ts) {
      let date = new Date(ts * 1000);
      let hours = "0" + date.getHours();
      let minutes = "0" + date.getMinutes();
      let seconds = "0" + date.getSeconds();
      return hours.substr(-2) + ':' + minutes.substr(-2) + ':' + seconds.substr(-2)
    },
  },
  mounted() {
    this.uik = this.$route.path.substr(6)
    this.$axios.get('/api/violations/' + this.uik).then((response) => {
      if(response.status === 200){
        this.violations = response.data.reverse()
      }
    })
  }
}
</script>

<style scoped>

</style>
