<template>
  <div class="flex flex-col min-h-screen bg-gray-100 px-48 pt-20">
    <div class="flex flex-col lg:w-7/12 w-full bg-white rounded-lg p-5 mx-auto my-5">
      <h2 class="font-extrabold text-2xl">
        Добавить новый УИК
      </h2>
      <form class="mt-5" @submit.prevent="create_uik">
        <div class="flex flex-col my-5">
          <span class="font-bold">
            Номер УИКа
          </span>
          <input class="border-solid border-b border-black w-20" type="number" v-model:value="new_uik.num">
        </div>
        <div class="flex flex-col my-5">
          <span class="font-bold">
            Дополнительная информация
          </span>
          <input class="border-solid border-b border-black w-full" type="text" v-model:value="new_uik.additional">
        </div>
        <div class="flex flex-col my-5">
          <button class="bg-green-600 text-white font-bold p-2 rounded-lg">Создать</button>
        </div>
      </form>
    </div>
    <div class="flex flex-col lg:w-7/12 w-full bg-white rounded-lg p-5 mx-auto my-5" v-for="u in uiks">
      <NuxtLink :to="'/uiks/' + u.uik">
        <h2 class="font-extrabold text-2xl">
          УИК №{{ u.uik }}
        </h2>
      </NuxtLink>
      <span>Явка: {{ u.counter_voters }} / {{ u.uik_voters }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "uiks",
  data() {
    return {
      uiks: [],
      new_uik : {
        num: null,
        additional: null
      }
    }
  },
  methods: {
    reload_uiks: function () {
      this.$axios.get('/api/uiks').then((response) => {
        if (response.status === 200){
          let uiks = response.data
          this.uiks = uiks.sort((a,b)=> (a.uik > b.uik ? 1 : -1))
        }
      })
    },
    create_uik: function () {
      this.$axios.post('/api/uiks', {
        uik: this.new_uik.num,
        additional: this.new_uik.additional
      }).then((response) => {
        if (response.status === 200) {
          this.reload_uiks()
        }
      })
    }
  },
  mounted() {
    this.reload_uiks()
  }
}
</script>

<style scoped>

</style>
