<template>
  <div class="flex flex-col min-h-screen bg-gray-100 px-48 pt-20">
    <div class="flex flex-col lg:w-7/12 w-full bg-white rounded-lg p-5 mx-auto my-5" v-for="u in uiks">
      <NuxtLink :to="'/uiks/' + u.uik">
        <h2 class="font-extrabold text-2xl">
          УИК №{{ u.uik }}
        </h2>
      </NuxtLink>
      <span>Явка: {{ u.counter_voters }} / {{ u.uik_voters }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "yavka",
  data() {
    return {
      uiks: [],
      new_uik : {
        num: null,
        address: null
      }
    }
  },
  methods: {
    reload_uiks: function () {
      this.$axios.get('/api/uiks').then((response) => {
        if (response.status === 200){
          let uiks = response.data
          this.uiks = uiks.sort((a,b)=> (a.counter_voters > b.counter_voters ? -1 : 1))
        }
      })
    },
  },
  mounted() {
    this.reload_uiks()
  }
}
</script>

<style scoped>

</style>
